.Weather {
  border: 1px solid #9d999d;
  font-family: arial, sans-serif;
  padding: 15px;
  margin: 30px auto;
  max-width: 800px;
  border-radius: 4px;
  background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80);
}

.Weather h1 {
  color: rgb(129, 126, 126);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0 5px 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: rgb(129, 126, 126);
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  list-style: none;
}
.Weather .temperature {
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}
.Weather canvas {
  display: inline-block;
  /* height: 64px; */
  margin-right: 10px;
  margin-top: 5px;
  /* width: 64px; */
  /* position: relative; */

  vertical-align: bottom;
  width: 64px;
}
.Weather .unit {
  color: #0c0b0c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: -32px;
}
